body {
  padding: 10px;
  background-color: #d0d0dd;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: #212135;
  color: #d0d0dd;
}

.toggler {
  cursor: pointer;
}

#dark_mode {
  position: fixed;
  right: 0;
  top: 0;
}
