<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Google Charts</title>
  <meta name="description" content="Google Charts examples">
  <meta name="author" content="SitePoint">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css?v=1.0">
</head>
<body>
  <span onclick="toggleDarkMode();" class="material-icons-outlined toggler" id="dark_mode">dark_mode</span>
%{partial}
  <script src="../assets/js/scripts.js"></script>
</body>
</html>
